@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set Default Sizes for HTML tags */

h1 {
  @apply text-2xl;
}

/* Load custom font and set as default */

@font-face {
  font-family: windows-xp-tahoma;
  src: url(../../public/fonts/windows-xp-tahoma.otf);
  size-adjust: 150%;
}

html {
  font-family: windows-xp-tahoma;
}

/* Non-Tailwind Custom CSS */

.gradient-border {
  border: none;
  background: linear-gradient(to left, #00000080, transparent);
}

/* Custom animaitons */

@keyframes glitchFlashAnimation {
  0% {
    background-color: rgba(255, 0, 0, 0.5); /* Transparent red */
  }
  33% {
    background-color: rgba(0, 255, 0, 0.5); /* Transparent green */
  }
  66% {
    background-color: rgba(0, 0, 255, 0.5); /* Transparent blue */
  }
  100% {
    background-color: rgba(255, 0, 0, 0.5); /* Back to transparent red */
  }
}

@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
  }
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

/* Override CSS packaged with 'react-modal-resizable-draggable' */

.flexible-modal-mask {
  height: 0 !important;
  width: 0 !important;
  z-index: -1 !important;
  background: transparent !important;
}

.flexible-modal-drag-area {
  height: 32px !important;
  width: 90% !important;
  left: 0 !important;
  top: -32px !important;
  background: transparent !important;
  position: absolute;
}

.flexible-modal-resizer {
  border: none !important;
}

.flexible-modal-drag-area-bottom,
.flexible-modal-drag-area-left,
.flexible-modal-drag-area-right {
  position: absolute !important;
  z-index: -1 !important;
}
